

.sector {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	/* border: 2px solid #AAAAAA; */
	border-radius: 50%;
	background: #999;
    overflow: hidden;
    outline: none!important;
    box-shadow: none!important;
}
.sector .box {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	clip: rect(0px, 99px, 99px, 0);
    z-index: 9;
    background: #AAAAAA;
    outline: none!important;
    box-shadow: none!important;
}
.sector .box,
.sector .center {
	transition: 0.5s;
	cursor: pointer;

}
.sector .box:hover,
.sector .center:hover {
	background: #DDD;
    overflow: hidden;
}
.sector .top {
	transform: rotate(45deg);
}
.sector .right {
	transform: rotate(135deg);
}
.sector .bottom {
	transform: rotate(-135deg);
}
.sector .left {
	transform: rotate(-45deg);
}

.icon{
    position: absolute;
}

.topIcon{
    transform: translate(-50px,-50px) rotate(-45deg);

}

.rightIcon{
    transform: translate(-50px,-50px) rotate(-135deg);
}

.bottomIcon{
    transform: translate(-50px,-50px) rotate(135deg);
}

.leftIcon{
    transform: translate(-50px,-50px) rotate(45deg);
}

.sector .center {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 54px;
	top: 54px;
	border-radius: 50%;
    z-index: 99;
    background-color: #c8c8c8;
    outline: none!important;
    box-shadow: none!important;
	border: 2px solid #999;
}

.SectorContent {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow: hidden;
}
.SectorBox:active{
	background-color: #DDD;

}

.SectorBox{
	box-shadow: none!important;

}



/* .PanControl{
	background-color: aqua;
}

.PanControl:active{
	background-color: blue;
} */