.pixelbot__pan-control {
	.back {
		opacity: 0 !important;
	}
	.front::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('https://pixelbot.oss-accelerate.aliyuncs.com/paw.svg');
		padding: 8px;
		background-origin: content-box;
		background-repeat: no-repeat;
	}
}

.pixelbot__pan-control__vertical {
	.back {
		opacity: 0 !important;
	}
	.front::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('https://pixelbot.oss-accelerate.aliyuncs.com/pawWithBorder.svg');
		padding: 10px;
		background-origin: content-box;
		background-repeat: no-repeat;
		transform: rotate(90deg);
		opacity: 1 !important;
	}
	.nipple,
	.front {
		opacity: 1 !important;
	}
}

.full-screen__pan-control {
	opacity: 0.5 !important;
	.front::before {
		transform: rotate(90deg);
	}
	.front:active,
	.front:hover,
	.front:target,
	.front:focus {
		opacity: 1 !important;
	}
}

.disabled_pan-control {
	.front {
		transform: translate(0, 0) !important;
		opacity: 0.5 !important; /* 设置背景半透明度 */
	}
}
